<p>
The UF Carpentry Club is hosting a 1-day, Carpentries-inspired workshop on May 7, 2019, as a follow-up event to the <a href="https://biodiversity.institute.ufl.edu/2019/04/3rd-annual-ufbi-and-ifas-symposium/">3rd Annual UFBI and IFAS Symposium</a>.  For this workshop, we will be teaching a condensed version of the new workshop curriculum, "<a href="https://datacarpentry.org/geospatial-workshop/">Introduction to Geospatial Analysis in R</a>".</p>
<p>
Do you need to create maps or do spatial analyses for your scientific work?  Would you like to learn how to use a scripting approach to geospatial analysis?  Do you just wish you understood geospatial data better?  If you answered "yes" to any of those questions, come join us on May 7!</p>
<p>
Because this is a 1-day workshop, we will not have time for a from-the-beginning introduction to R, so workshop participants should have at least some experience using R, but no prior experience with geospatial analysis is required.
</p>

<p>
  <a href="{{site.dc_site}}">Data Carpentry</a> develops and teaches workshops on the fundamental data skills needed to conduct
  research. Its target audience is researchers who have little to no prior computational experience,
  and its lessons are domain specific, building on learners' existing knowledge to enable them to quickly
  apply skills learned to their own research.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005510">Good Enough Practices for Scientific Computing</a>".
  </em>
</p>
